<div class="primaryColor">
    <div id="navigation" class="navBar">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Design Studio", "Studio", "Designer")</li>
            <li>@Html.ActionLink("Templates", "Studio", "Designer")</li>
            <li>@Html.ActionLink("Find Order Form", "OrderForm", "Store")</li>
            <li>@Html.ActionLink("Pricing", "Quote", "Pricing")</li>
        </ul>
   </div>

</div>